In [24]:
from pymongo import MongoClient
import pandas as pd
import pymongo
from pandas.io.json import json_normalize
import json

In [8]:
db_name = 'project2'
myclient = pymongo.MongoClient('mongodb://localhost:27017/project2')
mydb = myclient[db_name]
collection = mydb['amongus_db']

In [78]:
# x = collection.find_one()

x = collection.find_one({},{'_id':False})
table = pd.DataFrame(x)
new_table = table.transpose()

In [46]:
new_table.sort_index(inplace=True)

In [53]:
new_table.index = pd.to_datetime(new_table.index)

In [79]:
new_table.reset_index(level=0, inplace=True)

In [82]:
new_table['index']=pd.to_datetime(new_table['index'])

In [83]:
new_table

,index,game,hours_watched,average_viewers(k),average_concurrent_streams(k),peak_concurrent_streams(k),peak_viewers(k)
0,2021-01-01,Among Us,27.1,42,0.895,2.4,269
1,2020-12-01,Among Us,50.3,67.7,1.2,3.3,499
2,2020-11-01,Among Us,77,107,1.8,5.3,774
3,2020-10-01,Among Us,83.4,3,151,754,9.1
4,2020-09-01,Among Us,147,3.5,204,743,12.4
5,2020-08-01,Among Us,30.6,499,41.1,267,3
6,2020-07-01,Among Us,4.16,54,5.6,88.3,221000
7,2020-06-01,Among Us,0.00012,14,0.171,7,61000
8,2020-05-01,Among Us,0.000322,13,0.451,27.5,42000
9,2020-04-01,Among Us,0.000106,8,0.16,3.8,36000
10,2020-03-01,Among Us,7.38e-05,5,0.118,16.7,22000
11,2020-02-01,Among Us,4.59e-05,4,0.084,2.4,17000
12,2020-01-01,Among Us,3.39e-05,2,0.078,2.8,11000
13,2019-12-01,Among Us,8.2e-06,1,0.029,1.2,5000
14,2019-11-01,Among Us,6.6e-06,1,0.024,2.1,7000
15,2019-10-01,Among Us,6.4e-06,2,0.015,0.523,8000
16,2019-09-01,Among Us,2.67e-05,2,0.047,6,12000
17,2019-08-01,Among Us,5.79e-05,3,0.122,26.4,13000
18,2019-07-01,Among Us,1.52e-05,2,0.032,2,11000
19,2019-06-01,Among Us,1.2e-06,1,0.009,0.259,4000
20,2019-05-01,Among Us,8.1e-05,1,0.001,0.011,3000
21,2019-04-01,Among Us,0.000177,1,0.003,0.068,3000
22,2019-03-01,Among Us,4.9e-05,1,0.001,0.007,3000
23,2019-02-01,Among Us,3e-06,1,0.001,0.003,1000
24,2019-01-01,Among Us,2.9e-06,1,0.308,4.4,2000
25,2018-12-01,Among Us,1.9e-06,1,0.066,0.455,1000
26,2018-11-01,Among Us,9.3e-06,1,1.6,7.4,3000

In [101]:
df = new_table[['index', 'average_viewers(k)']]

In [102]:
df.sort_values(by = ['index'])

        index average_viewers(k)
26 2018-11-01                  1
25 2018-12-01                  1
24 2019-01-01                  1
23 2019-02-01                  1
22 2019-03-01                  1
21 2019-04-01                  1
20 2019-05-01                  1
19 2019-06-01                  1
18 2019-07-01                  2
17 2019-08-01                  3
16 2019-09-01                  2
15 2019-10-01                  2
14 2019-11-01                  1
13 2019-12-01                  1
12 2020-01-01                  2
11 2020-02-01                  4
10 2020-03-01                  5
9  2020-04-01                  8
8  2020-05-01                 13
7  2020-06-01                 14
6  2020-07-01                 54
5  2020-08-01                499
4  2020-09-01                3.5
3  2020-10-01                  3
2  2020-11-01                107
1  2020-12-01               67.7
0  2021-01-01                 42

In [103]:
new_df = df.copy()

In [104]:
new_df['index'] = new_df['index'].astype(str)

In [105]:
y = new_df.set_index('index').T.to_dict('list')

In [106]:
y

{'2021-01-01': [42.0],
 '2020-12-01': [67.7],
 '2020-11-01': [107.0],
 '2020-10-01': [3.0],
 '2020-09-01': [3.5],
 '2020-08-01': [499.0],
 '2020-07-01': [54.0],
 '2020-06-01': [14.0],
 '2020-05-01': [13.0],
 '2020-04-01': [8.0],
 '2020-03-01': [5.0],
 '2020-02-01': [4.0],
 '2020-01-01': [2.0],
 '2019-12-01': [1.0],
 '2019-11-01': [1.0],
 '2019-10-01': [2.0],
 '2019-09-01': [2.0],
 '2019-08-01': [3.0],
 '2019-07-01': [2.0],
 '2019-06-01': [1.0],
 '2019-05-01': [1.0],
 '2019-04-01': [1.0],
 '2019-03-01': [1.0],
 '2019-02-01': [1.0],
 '2019-01-01': [1.0],
 '2018-12-01': [1.0],
 '2018-11-01': [1.0]}

In [91]:
y = [tuple(x) for x in df.to_records(index=False)]

TypeError: cannot convert dictionary update sequence element #0 to a sequence

In [90]:
y

[(numpy.datetime64('2021-01-01T00:00:00.000000000'), 42.0, 'Among Us'),
 (numpy.datetime64('2020-12-01T00:00:00.000000000'), 67.7, 'Among Us'),
 (numpy.datetime64('2020-11-01T00:00:00.000000000'), 107.0, 'Among Us'),
 (numpy.datetime64('2020-10-01T00:00:00.000000000'), 3.0, 'Among Us'),
 (numpy.datetime64('2020-09-01T00:00:00.000000000'), 3.5, 'Among Us'),
 (numpy.datetime64('2020-08-01T00:00:00.000000000'), 499.0, 'Among Us'),
 (numpy.datetime64('2020-07-01T00:00:00.000000000'), 54.0, 'Among Us'),
 (numpy.datetime64('2020-06-01T00:00:00.000000000'), 14.0, 'Among Us'),
 (numpy.datetime64('2020-05-01T00:00:00.000000000'), 13.0, 'Among Us'),
 (numpy.datetime64('2020-04-01T00:00:00.000000000'), 8.0, 'Among Us'),
 (numpy.datetime64('2020-03-01T00:00:00.000000000'), 5.0, 'Among Us'),
 (numpy.datetime64('2020-02-01T00:00:00.000000000'), 4.0, 'Among Us'),
 (numpy.datetime64('2020-01-01T00:00:00.000000000'), 2.0, 'Among Us'),
 (numpy.datetime64('2019-12-01T00:00:00.000000000'), 1.0, 'Among Us'),
 (numpy.datetime64('2019-11-01T00:00:00.000000000'), 1.0, 'Among Us'),
 (numpy.datetime64('2019-10-01T00:00:00.000000000'), 2.0, 'Among Us'),
 (numpy.datetime64('2019-09-01T00:00:00.000000000'), 2.0, 'Among Us'),
 (numpy.datetime64('2019-08-01T00:00:00.000000000'), 3.0, 'Among Us'),
 (numpy.datetime64('2019-07-01T00:00:00.000000000'), 2.0, 'Among Us'),
 (numpy.datetime64('2019-06-01T00:00:00.000000000'), 1.0, 'Among Us'),
 (numpy.datetime64('2019-05-01T00:00:00.000000000'), 1.0, 'Among Us'),
 (numpy.datetime64('2019-04-01T00:00:00.000000000'), 1.0, 'Among Us'),
 (numpy.datetime64('2019-03-01T00:00:00.000000000'), 1.0, 'Among Us'),
 (numpy.datetime64('2019-02-01T00:00:00.000000000'), 1.0, 'Among Us'),
 (numpy.datetime64('2019-01-01T00:00:00.000000000'), 1.0, 'Among Us'),
 (numpy.datetime64('2018-12-01T00:00:00.000000000'), 1.0, 'Among Us'),
 (numpy.datetime64('2018-11-01T00:00:00.000000000'), 1.0, 'Among Us')]

In [77]:
df.set_index('ID').T.to_dict('list')

(numpy.datetime64('2019-01-01T00:00:00.000000000'), 1.0, 'Among Us')

In [58]:
new_table.sort_index()

,game,hours_watched,average_viewers(k),average_concurrent_streams(k),peak_concurrent_streams(k),peak_viewers(k)
2018-11-01,Among Us,9.3e-06,1,1.6,7.4,3000
2018-12-01,Among Us,1.9e-06,1,0.066,0.455,1000
2019-01-01,Among Us,2.9e-06,1,0.308,4.4,2000
2019-02-01,Among Us,3e-06,1,0.001,0.003,1000
2019-03-01,Among Us,4.9e-05,1,0.001,0.007,3000
2019-04-01,Among Us,0.000177,1,0.003,0.068,3000
2019-05-01,Among Us,8.1e-05,1,0.001,0.011,3000
2019-06-01,Among Us,1.2e-06,1,0.009,0.259,4000
2019-07-01,Among Us,1.52e-05,2,0.032,2,11000
2019-08-01,Among Us,5.79e-05,3,0.122,26.4,13000
2019-09-01,Among Us,2.67e-05,2,0.047,6,12000
2019-10-01,Among Us,6.4e-06,2,0.015,0.523,8000
2019-11-01,Among Us,6.6e-06,1,0.024,2.1,7000
2019-12-01,Among Us,8.2e-06,1,0.029,1.2,5000
2020-01-01,Among Us,3.39e-05,2,0.078,2.8,11000
2020-02-01,Among Us,4.59e-05,4,0.084,2.4,17000
2020-03-01,Among Us,7.38e-05,5,0.118,16.7,22000
2020-04-01,Among Us,0.000106,8,0.16,3.8,36000
2020-05-01,Among Us,0.000322,13,0.451,27.5,42000
2020-06-01,Among Us,0.00012,14,0.171,7,61000
2020-07-01,Among Us,4.16,54,5.6,88.3,221000
2020-08-01,Among Us,30.6,499,41.1,267,3
2020-09-01,Among Us,147,3.5,204,743,12.4
2020-10-01,Among Us,83.4,3,151,754,9.1
2020-11-01,Among Us,77,107,1.8,5.3,774
2020-12-01,Among Us,50.3,67.7,1.2,3.3,499
2021-01-01,Among Us,27.1,42,0.895,2.4,269

In [66]:
new_table.to_dict()["average_viewers(k)"]

{Timestamp('2019-01-01 00:00:00'): 1.0,
 Timestamp('2020-01-01 00:00:00'): 2.0,
 Timestamp('2021-01-01 00:00:00'): 42.0,
 Timestamp('2019-10-01 00:00:00'): 2.0,
 Timestamp('2020-10-01 00:00:00'): 3.0,
 Timestamp('2018-11-01 00:00:00'): 1.0,
 Timestamp('2019-11-01 00:00:00'): 1.0,
 Timestamp('2020-11-01 00:00:00'): 107.0,
 Timestamp('2018-12-01 00:00:00'): 1.0,
 Timestamp('2019-12-01 00:00:00'): 1.0,
 Timestamp('2020-12-01 00:00:00'): 67.7,
 Timestamp('2019-02-01 00:00:00'): 1.0,
 Timestamp('2020-02-01 00:00:00'): 4.0,
 Timestamp('2019-03-01 00:00:00'): 1.0,
 Timestamp('2020-03-01 00:00:00'): 5.0,
 Timestamp('2019-04-01 00:00:00'): 1.0,
 Timestamp('2020-04-01 00:00:00'): 8.0,
 Timestamp('2019-05-01 00:00:00'): 1.0,
 Timestamp('2020-05-01 00:00:00'): 13.0,
 Timestamp('2019-06-01 00:00:00'): 1.0,
 Timestamp('2020-06-01 00:00:00'): 14.0,
 Timestamp('2019-07-01 00:00:00'): 2.0,
 Timestamp('2020-07-01 00:00:00'): 54.0,
 Timestamp('2019-08-01 00:00:00'): 3.0,
 Timestamp('2020-08-01 00:00:00'): 499.0,
 Timestamp('2019-09-01 00:00:00'): 2.0,
 Timestamp('2020-09-01 00:00:00'): 3.5}

In [59]:
y = json.dumps(json.loads(new_table.to_json(orient="records")))

In [60]:
y

'[{"game": "Among Us", "hours_watched": 2.9e-06, "average_viewers(k)": 1.0, "average_concurrent_streams(k)": 0.308, "peak_concurrent_streams(k)": 4.4, "peak_viewers(k)": 2000.0}, {"game": "Among Us", "hours_watched": 3.39e-05, "average_viewers(k)": 2.0, "average_concurrent_streams(k)": 0.078, "peak_concurrent_streams(k)": 2.8, "peak_viewers(k)": 11000.0}, {"game": "Among Us", "hours_watched": 27.1, "average_viewers(k)": 42.0, "average_concurrent_streams(k)": 0.895, "peak_concurrent_streams(k)": 2.4, "peak_viewers(k)": 269.0}, {"game": "Among Us", "hours_watched": 6.4e-06, "average_viewers(k)": 2.0, "average_concurrent_streams(k)": 0.015, "peak_concurrent_streams(k)": 0.523, "peak_viewers(k)": 8000.0}, {"game": "Among Us", "hours_watched": 83.4, "average_viewers(k)": 3.0, "average_concurrent_streams(k)": 151.0, "peak_concurrent_streams(k)": 754.0, "peak_viewers(k)": 9.1}, {"game": "Among Us", "hours_watched": 9.3e-06, "average_viewers(k)": 1.0, "average_concurrent_streams(k)": 1.6, "peak_concurrent_streams(k)": 7.4, "peak_viewers(k)": 3000.0}, {"game": "Among Us", "hours_watched": 6.6e-06, "average_viewers(k)": 1.0, "average_concurrent_streams(k)": 0.024, "peak_concurrent_streams(k)": 2.1, "peak_viewers(k)": 7000.0}, {"game": "Among Us", "hours_watched": 77.0, "average_viewers(k)": 107.0, "average_concurrent_streams(k)": 1.8, "peak_concurrent_streams(k)": 5.3, "peak_viewers(k)": 774.0}, {"game": "Among Us", "hours_watched": 1.9e-06, "average_viewers(k)": 1.0, "average_concurrent_streams(k)": 0.066, "peak_concurrent_streams(k)": 0.455, "peak_viewers(k)": 1000.0}, {"game": "Among Us", "hours_watched": 8.2e-06, "average_viewers(k)": 1.0, "average_concurrent_streams(k)": 0.029, "peak_concurrent_streams(k)": 1.2, "peak_viewers(k)": 5000.0}, {"game": "Among Us", "hours_watched": 50.3, "average_viewers(k)": 67.7, "average_concurrent_streams(k)": 1.2, "peak_concurrent_streams(k)": 3.3, "peak_viewers(k)": 499.0}, {"game": "Among Us", "hours_watched": 3e-06, "average_viewers(k)": 1.0, "average_concurrent_streams(k)": 0.001, "peak_concurrent_streams(k)": 0.003, "peak_viewers(k)": 1000.0}, {"game": "Among Us", "hours_watched": 4.59e-05, "average_viewers(k)": 4.0, "average_concurrent_streams(k)": 0.084, "peak_concurrent_streams(k)": 2.4, "peak_viewers(k)": 17000.0}, {"game": "Among Us", "hours_watched": 4.9e-05, "average_viewers(k)": 1.0, "average_concurrent_streams(k)": 0.001, "peak_concurrent_streams(k)": 0.007, "peak_viewers(k)": 3000.0}, {"game": "Among Us", "hours_watched": 7.38e-05, "average_viewers(k)": 5.0, "average_concurrent_streams(k)": 0.118, "peak_concurrent_streams(k)": 16.7, "peak_viewers(k)": 22000.0}, {"game": "Among Us", "hours_watched": 0.000177, "average_viewers(k)": 1.0, "average_concurrent_streams(k)": 0.003, "peak_concurrent_streams(k)": 0.068, "peak_viewers(k)": 3000.0}, {"game": "Among Us", "hours_watched": 0.000106, "average_viewers(k)": 8.0, "average_concurrent_streams(k)": 0.16, "peak_concurrent_streams(k)": 3.8, "peak_viewers(k)": 36000.0}, {"game": "Among Us", "hours_watched": 8.1e-05, "average_viewers(k)": 1.0, "average_concurrent_streams(k)": 0.001, "peak_concurrent_streams(k)": 0.011, "peak_viewers(k)": 3000.0}, {"game": "Among Us", "hours_watched": 0.000322, "average_viewers(k)": 13.0, "average_concurrent_streams(k)": 0.451, "peak_concurrent_streams(k)": 27.5, "peak_viewers(k)": 42000.0}, {"game": "Among Us", "hours_watched": 1.2e-06, "average_viewers(k)": 1.0, "average_concurrent_streams(k)": 0.009, "peak_concurrent_streams(k)": 0.259, "peak_viewers(k)": 4000.0}, {"game": "Among Us", "hours_watched": 0.00012, "average_viewers(k)": 14.0, "average_concurrent_streams(k)": 0.171, "peak_concurrent_streams(k)": 7.0, "peak_viewers(k)": 61000.0}, {"game": "Among Us", "hours_watched": 1.52e-05, "average_viewers(k)": 2.0, "average_concurrent_streams(k)": 0.032, "peak_concurrent_streams(k)": 2.0, "peak_viewers(k)": 11000.0}, {"game": "Among Us", "hours_watched": 4.16, "average_viewers(k)": 54.0, "average_concurrent_streams(k)": 5.6, "peak_concurrent_streams(k)": 88.3, "peak_viewers(k)": 221000.0}, {"game": "Among Us", "hours_watched": 5.79e-05, "average_viewers(k)": 3.0, "average_concurrent_streams(k)": 0.122, "peak_concurrent_streams(k)": 26.4, "peak_viewers(k)": 13000.0}, {"game": "Among Us", "hours_watched": 30.6, "average_viewers(k)": 499.0, "average_concurrent_streams(k)": 41.1, "peak_concurrent_streams(k)": 267.0, "peak_viewers(k)": 3.0}, {"game": "Among Us", "hours_watched": 2.67e-05, "average_viewers(k)": 2.0, "average_concurrent_streams(k)": 0.047, "peak_concurrent_streams(k)": 6.0, "peak_viewers(k)": 12000.0}, {"game": "Among Us", "hours_watched": 147.0, "average_viewers(k)": 3.5, "average_concurrent_streams(k)": 204.0, "peak_concurrent_streams(k)": 743.0, "peak_viewers(k)": 12.4}]'

In [27]:
x

{'_id': ObjectId('6018cdbee6bf8f29076077dc'),
 '1/1/21': {'game': 'Among Us',
  'hours_watched': 27.1,
  'average_viewers(k)': 42.0,
  'average_concurrent_streams(k)': 0.895,
  'peak_concurrent_streams(k)': 2.4,
  'peak_viewers(k)': 269.0},
 '12/1/20': {'game': 'Among Us',
  'hours_watched': 50.3,
  'average_viewers(k)': 67.7,
  'average_concurrent_streams(k)': 1.2,
  'peak_concurrent_streams(k)': 3.3,
  'peak_viewers(k)': 499.0},
 '11/1/20': {'game': 'Among Us',
  'hours_watched': 77.0,
  'average_viewers(k)': 107.0,
  'average_concurrent_streams(k)': 1.8,
  'peak_concurrent_streams(k)': 5.3,
  'peak_viewers(k)': 774.0},
 '10/1/20': {'game': 'Among Us',
  'hours_watched': 83.4,
  'average_viewers(k)': 3.0,
  'average_concurrent_streams(k)': 151.0,
  'peak_concurrent_streams(k)': 754.0,
  'peak_viewers(k)': 9.1},
 '9/1/20': {'game': 'Among Us',
  'hours_watched': 147.0,
  'average_viewers(k)': 3.5,
  'average_concurrent_streams(k)': 204.0,
  'peak_concurrent_streams(k)': 743.0,
  'peak_viewers(k)': 12.4},
 '8/1/20': {'game': 'Among Us',
  'hours_watched': 30.6,
  'average_viewers(k)': 499.0,
  'average_concurrent_streams(k)': 41.1,
  'peak_concurrent_streams(k)': 267.0,
  'peak_viewers(k)': 3.0},
 '7/1/20': {'game': 'Among Us',
  'hours_watched': 4.16,
  'average_viewers(k)': 54.0,
  'average_concurrent_streams(k)': 5.6,
  'peak_concurrent_streams(k)': 88.3,
  'peak_viewers(k)': 221000.0},
 '6/1/20': {'game': 'Among Us',
  'hours_watched': 0.00012,
  'average_viewers(k)': 14.0,
  'average_concurrent_streams(k)': 0.171,
  'peak_concurrent_streams(k)': 7.0,
  'peak_viewers(k)': 61000.0},
 '5/1/20': {'game': 'Among Us',
  'hours_watched': 0.000322,
  'average_viewers(k)': 13.0,
  'average_concurrent_streams(k)': 0.451,
  'peak_concurrent_streams(k)': 27.5,
  'peak_viewers(k)': 42000.0},
 '4/1/20': {'game': 'Among Us',
  'hours_watched': 0.000106,
  'average_viewers(k)': 8.0,
  'average_concurrent_streams(k)': 0.16,
  'peak_concurrent_streams(k)': 3.8,
  'peak_viewers(k)': 36000.0},
 '3/1/20': {'game': 'Among Us',
  'hours_watched': 7.379999999999999e-05,
  'average_viewers(k)': 5.0,
  'average_concurrent_streams(k)': 0.118,
  'peak_concurrent_streams(k)': 16.7,
  'peak_viewers(k)': 22000.0},
 '2/1/20': {'game': 'Among Us',
  'hours_watched': 4.59e-05,
  'average_viewers(k)': 4.0,
  'average_concurrent_streams(k)': 0.084,
  'peak_concurrent_streams(k)': 2.4,
  'peak_viewers(k)': 17000.0},
 '1/1/20': {'game': 'Among Us',
  'hours_watched': 3.39e-05,
  'average_viewers(k)': 2.0,
  'average_concurrent_streams(k)': 0.078,
  'peak_concurrent_streams(k)': 2.8,
  'peak_viewers(k)': 11000.0},
 '12/1/19': {'game': 'Among Us',
  'hours_watched': 8.2e-06,
  'average_viewers(k)': 1.0,
  'average_concurrent_streams(k)': 0.029,
  'peak_concurrent_streams(k)': 1.2,
  'peak_viewers(k)': 5000.0},
 '11/1/19': {'game': 'Among Us',
  'hours_watched': 6.5999999999999995e-06,
  'average_viewers(k)': 1.0,
  'average_concurrent_streams(k)': 0.024,
  'peak_concurrent_streams(k)': 2.1,
  'peak_viewers(k)': 7000.0},
 '10/1/19': {'game': 'Among Us',
  'hours_watched': 6.4000000000000006e-06,
  'average_viewers(k)': 2.0,
  'average_concurrent_streams(k)': 0.015,
  'peak_concurrent_streams(k)': 0.523,
  'peak_viewers(k)': 8000.0},
 '9/1/19': {'game': 'Among Us',
  'hours_watched': 2.67e-05,
  'average_viewers(k)': 2.0,
  'average_concurrent_streams(k)': 0.047,
  'peak_concurrent_streams(k)': 6.0,
  'peak_viewers(k)': 12000.0},
 '8/1/19': {'game': 'Among Us',
  'hours_watched': 5.79e-05,
  'average_viewers(k)': 3.0,
  'average_concurrent_streams(k)': 0.122,
  'peak_concurrent_streams(k)': 26.4,
  'peak_viewers(k)': 13000.0},
 '7/1/19': {'game': 'Among Us',
  'hours_watched': 1.5199999999999998e-05,
  'average_viewers(k)': 2.0,
  'average_concurrent_streams(k)': 0.032,
  'peak_concurrent_streams(k)': 2.0,
  'peak_viewers(k)': 11000.0},
 '6/1/19': {'game': 'Among Us',
  'hours_watched': 1.2e-06,
  'average_viewers(k)': 1.0,
  'average_concurrent_streams(k)': 0.009,
  'peak_concurrent_streams(k)': 0.259,
  'peak_viewers(k)': 4000.0},
 '5/1/19': {'game': 'Among Us',
  'hours_watched': 8.1e-05,
  'average_viewers(k)': 1.0,
  'average_concurrent_streams(k)': 0.001,
  'peak_concurrent_streams(k)': 0.011,
  'peak_viewers(k)': 3000.0},
 '4/1/19': {'game': 'Among Us',
  'hours_watched': 0.000177,
  'average_viewers(k)': 1.0,
  'average_concurrent_streams(k)': 0.003,
  'peak_concurrent_streams(k)': 0.068,
  'peak_viewers(k)': 3000.0},
 '3/1/19': {'game': 'Among Us',
  'hours_watched': 4.9e-05,
  'average_viewers(k)': 1.0,
  'average_concurrent_streams(k)': 0.001,
  'peak_concurrent_streams(k)': 0.007,
  'peak_viewers(k)': 3000.0},
 '2/1/19': {'game': 'Among Us',
  'hours_watched': 3e-06,
  'average_viewers(k)': 1.0,
  'average_concurrent_streams(k)': 0.001,
  'peak_concurrent_streams(k)': 0.003,
  'peak_viewers(k)': 1000.0},
 '1/1/19': {'game': 'Among Us',
  'hours_watched': 2.8999999999999998e-06,
  'average_viewers(k)': 1.0,
  'average_concurrent_streams(k)': 0.308,
  'peak_concurrent_streams(k)': 4.4,
  'peak_viewers(k)': 2000.0},
 '12/1/18': {'game': 'Among Us',
  'hours_watched': 1.8999999999999998e-06,
  'average_viewers(k)': 1.0,
  'average_concurrent_streams(k)': 0.066,
  'peak_concurrent_streams(k)': 0.455,
  'peak_viewers(k)': 1000.0},
 '11/1/18': {'game': 'Among Us',
  'hours_watched': 9.3e-06,
  'average_viewers(k)': 1.0,
  'average_concurrent_streams(k)': 1.6,
  'peak_concurrent_streams(k)': 7.4,
  'peak_viewers(k)': 3000.0}}

In [25]:
normalized = json_normalize(x)

<ipython-input-25-a7133434ecb4>:1: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead
  normalized = json_normalize(x)

In [26]:
pd.DataFrame(normalized)

,_id,1/1/21.game,1/1/21.hours_watched,1/1/21.average_viewers(k),1/1/21.average_concurrent_streams(k),1/1/21.peak_concurrent_streams(k),1/1/21.peak_viewers(k),12/1/20.game,12/1/20.hours_watched,12/1/20.average_viewers(k),...,12/1/18.average_viewers(k),12/1/18.average_concurrent_streams(k),12/1/18.peak_concurrent_streams(k),12/1/18.peak_viewers(k),11/1/18.game,11/1/18.hours_watched,11/1/18.average_viewers(k),11/1/18.average_concurrent_streams(k),11/1/18.peak_concurrent_streams(k),11/1/18.peak_viewers(k)
0,6018cdbee6bf8f29076077dc,Among Us,27.1,42.0,0.895,2.4,269.0,Among Us,50.3,67.7,...,1.0,0.066,0.455,1000.0,Among Us,0.000009,1.0,1.6,7.4,3000.0

In [18]:
amongus_df = pd.DataFrame(list(collection.find()))

In [19]:
amongus_df

,_id,1/1/21,12/1/20,11/1/20,10/1/20,9/1/20,8/1/20,7/1/20,6/1/20,5/1/20,...,8/1/19,7/1/19,6/1/19,5/1/19,4/1/19,3/1/19,2/1/19,1/1/19,12/1/18,11/1/18
0,6018cdbee6bf8f29076077dc,"{'game': 'Among Us', 'hours_watched': 27.1, 'a...","{'game': 'Among Us', 'hours_watched': 50.3, 'a...","{'game': 'Among Us', 'hours_watched': 77.0, 'a...","{'game': 'Among Us', 'hours_watched': 83.4, 'a...","{'game': 'Among Us', 'hours_watched': 147.0, '...","{'game': 'Among Us', 'hours_watched': 30.6, 'a...","{'game': 'Among Us', 'hours_watched': 4.16, 'a...","{'game': 'Among Us', 'hours_watched': 0.00012,...","{'game': 'Among Us', 'hours_watched': 0.000322...",...,"{'game': 'Among Us', 'hours_watched': 5.79e-05...","{'game': 'Among Us', 'hours_watched': 1.519999...","{'game': 'Among Us', 'hours_watched': 1.2e-06,...","{'game': 'Among Us', 'hours_watched': 8.1e-05,...","{'game': 'Among Us', 'hours_watched': 0.000177...","{'game': 'Among Us', 'hours_watched': 4.9e-05,...","{'game': 'Among Us', 'hours_watched': 3e-06, '...","{'game': 'Among Us', 'hours_watched': 2.899999...","{'game': 'Among Us', 'hours_watched': 1.899999...","{'game': 'Among Us', 'hours_watched': 9.3e-06,..."